.custom-radiobutton {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #274f41;
    display: inline-block;
}

.radiobutton-input:checked + span {
    border: 2px solid #ffffff;
    background-color: #3e8069; 
}