/* Since the layout bar is 60px logo and 10px padding, you will always find that the layout bar is 80px, just a hacky solution here */
.image-transition {
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0px;
    top: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    mix-blend-mode: screen;
    z-index: 5;
}

.form-header-image {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: top center;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    z-index: auto;
}

.form-block-container {
    position: relative;
    z-index: 10;
}

.big-header-block {
    display: flex;
}


.header-block-column {
    text-align: right;
    margin: 10px;
    width: 50%;
    align-items: center;
}

.header-block-text {
    font-size: 3.5em;
    padding-block: 1em;
    line-height: 1.2;
    max-width: 80%;
}

.suggest-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 100%;
    max-width: 20em;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding-block: 0.3em;
  }

  .form-button {
    background: #274f41;
    color: #ffffff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-block: 8px;
    margin-inline: auto;
  }

  .form-question {
    display: flex;
    justify-content: center;
    padding-block: 0.8em;
  }

  .clothing-suggestion {
    display: inline-block;
    margin-inline: auto;
    text-align: center;
  }

  .suggest-header-wrapper {
    width: 40%;
  }

  .suggest-header {
    text-decoration: underline;
  }

  .clothing-suggestion-block {
    margin-block: 2rem;
  }

  .subscription-suggestion-block {
    margin-inline: 6rem;
    grid-auto-columns: max-content;
    justify-content: center;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sweater-suggestion-item {
    width: 28%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: inline-block;
    margin-left: 2em;
    border: 3px solid;
  }
  .pant-suggestion-item {
    width: 28%;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    display: inline-block;
    margin-left: 2em;
    border: 3px solid;
  }

  .subscription-suggestion-item {
    text-align: left;
  }

  .suggest-buy-button {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 0.25rem;
    font-weight: 500;
    margin-right: 0.5rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
  }

/* Home page styles */
.home-big-block-backer {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: rgb(240, 239, 235);

}

.home-big-block-wrapper {
  padding-inline: 4rem;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.home-big-block-text-column {
  width: 50%;
  padding-right: 5rem;
}

.home-big-block-text-header {
  font-size: 4rem;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.home-big-block-text-para {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.home-big-block-button {
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
}

.home-green-block-backer {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
  background-color: #a8b0a0;
}

.home-green-block-wrapper {
  margin-right: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
}

.green-image {
  width: 900px;
  height: auto;
}

.home-green-block-text-column {
  width: 40%;
  padding-left: 4rem;
  text-align: right;
}

.home-big-block-backer,
.home-green-block-backer {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}